.hero {
  position: relative;
}
.desk-illustration {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0.8);
}
@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  55% {
    transform: translate(0, 5px);
  }
  to {
    transform: translate(0, -0px);
  }
}
@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}
#header {
  #myName {
    position: relative;
    height: 100%;
    width: 100%;
    svg#animate-logo {
      height: max-content;
      width: 80%;
      margin: 0 auto;
      overflow: visible;
      path {
        fill: whitesmoke;
        transform: scale(1);
        // transform: translate(0);
        animation-name: floating;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        &#animate-logo-l {
          transform: scale(1);
          transform: translate(0);
          // animation-duration: 2.5s;
        }
        &#animate-logo-m {
          transform: scale(1);
          transform: translate(0);
          // animation-duration: 2s;
        }
        //
        // &#animate-logo-e {
        //   animation-duration: 2.7s;
        // }
        // &#animate-logo-o {
        //   animation-duration: 2.4s;
        // }
        // //
        // &#animate-logo-ee {
        //   animation-duration: 3.1s;
        // }

        // &#animate-logo-y {
        //   animation-duration: 2.8s;
        // }

        // &#animate-logo-n {
        //   animation-duration: 2.2s;
        // }

        // &#animate-logo-i {
        //   animation-duration: 1.3s;
        // }

        // &#animate-logo-eee {
        //   animation-duration: 1.9s;
        // }

        // &#animate-logo-ll {
        //   animation-duration: 1.5s;
        // }
      }
    }
  }
  #typewriter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $grey-dark;
    h1 {
      color: #fff;
      font-family: monospace;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: 0.15em solid orange; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: 0.15em; /* Adjust as needed */
      animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
    }
  }
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
@media screen and (max-width: 769px) {
  #header #myName svg {
    transform: scale(1);
  }
}
//////////////////
.scroll {
  position: absolute;
  width: 30px;
  height: 50px;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid rgba(white, 0.6);
  border-radius: 40px;

  &:after {
    content: " ";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e3e3e3;
    position: absolute;
    left: 0;
    top: 10px;
    right: 0;
    margin: auto;
    animation: wheel 1s infinite;
    opacity: 0;
  }
}

@keyframes wheel {
  1% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
    opacity: 0;
  }
}
